/*
 * Globals
 */


/* Links */

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */

.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}


/*fade in, zoom in and other animation */

.fadein1 {
    animation-delay: 2s;
    animation: fadein 4s;
}

.fadein2 {
    animation-delay: 8s;
    animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
    display: table;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #666;
    /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 25px #000;
    box-shadow: 0 0 25px rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
}


/* Padding for spacing */

.inner {
    padding-top 10px;
    font-family: raleway, sans-serif;
}


/*
 * Header
 */

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
    color: lightgrey;
}

.masthead-nav > li {
    display: inline-block;
}

.masthead-nav > li + li {
    margin-left: 20px;
}

.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding-top: 10%;
    padding-bottom: 5%;
}

.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.codeblock {
    text-align: left;
    margin-left: auto;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    align-content: center;
    box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.9);
    font-family: monospace;
}

.consoleblock {
    text-align: left;
    margin-left: auto;
    font-size: 18px;
    background-color: #000;
    margin-bottom: auto;
    border-radius: 5px;
    padding: 20px;
    align-content: center;
    box-shadow: 0 0 15px #000;
    font-family: courier new;
}

.contactme {}

.contactlogo {
    height: 150px;
    width: 150px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
    /*make images grayscale */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
    margin: 10px;
}

.contactlogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* Text, paras and headers. */

.consoletext {
    color: rgba (200, 200, 200, 1);
}

.publicclass {
    color: rgb(204, 120, 50);
}

.publicmain {
    color: rgb(204, 120, 50);
}

.sout {
    color: rgb(152, 118, 170);
}

.string {
    color: rgb(106, 135, 89);
}

.mainclass {
    color: rgb(232, 191, 106);
}

.cover-heading {
    color: darkseagreen;
    font-size: 60px;
    font-family: expletus-sans, sans-serif;
}

.lead {
    color: #999;
    font-size: 30px;
    font-family: raleway, sans-serif;
    margin: auto;
}


/*
 * Footer
 */

.mastfoot {
    color: #999;
    /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}